.Rproj.user/
.Rproj.user
.Rhistory
.RData
.Ruserdata
DMJN328_Syllabus.aux
DMJN328_Syllabus.bbl
DMJN328_Syllabus.bcf
DMJN328_Syllabus.blg
DMJN328_Syllabus.log
DMJN328_Syllabus.out
DMJN328_Syllabus.run.xml
DMJN328_Syllabus.synctex.gz
DMJN328.bib
.DS_Store
DMJN328_Syllabus.tex
Lecture_Notes/Makefile
Lecture_Notes/january_6.md
graph_assignment/graph_assignment.Rproj
graph_assignment/1_read_in_data.R
Lecture_Notes/january_20/setting_working_directories.mov
learnr_journalism/learn-chapter-3-master/setting_working_directories.Rmd
learnr_journalism/learn-chapter-3-master/setting_working_directories.pdf
learnr_journalism/learn-chapter-3-master/setting_working_directories.html
learnr_journalism/learn-chapter-3-master/f45145eb356507b16b76b61f28e71c663145a364.png
learnr_journalism/learn-chapter-3-master/d216a79afb33d4dd836ce9e9210e3bf4c5ecdff9.png
learnr_journalism/learn-chapter-3-master/__setting_working_directories.RMD
learnr_journalism/learn-chapter-3-master/7c86d014c1744f76ff2a08fab73f10814bec89ff.png
learnr_journalism/learn-chapter-3-master/3d27ca249eb6f638dfbcca8d26744971ea1d30bc.png