.Rproj.user
.Rhistory
.RData
.Ruserdata
DMJN328_Syllabus.aux
DMJN328_Syllabus.bbl
DMJN328_Syllabus.bcf
DMJN328_Syllabus.blg
DMJN328_Syllabus.log
DMJN328_Syllabus.out
DMJN328_Syllabus.run.xml
DMJN328_Syllabus.synctex.gz
DMJN328_Syllabus.synctex-Marvin.gz
